


li{display: inline;
}

.classFont{
    font-family: 'Fantasy';
    font: 700;
    /* font-style: italic; */
}
h6{
    text-align: right;
}
/*ajout commentaire pour tester*/
.colorier{
    background-color: gray;
}
.centrer{
    text-align: center;
    
}

footer{background-color:tomato;
margin:0px;}

h3+img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }